.contact-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.contact-heading {
    font-size: 28px;
    margin-bottom: 20px;
    color: #D9b08c;
}

.contact-intro {
    font-size: 18px;
    margin-bottom: 30px;
    color: #ffcb9a;
}

.contact-form {
    text-align: left;
}

.form-group {
    margin-bottom: 30px;
}

.form-control {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.submit-button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #116466;
    color: #d1e8e2;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #D9b08c;
    color: #2c3531;
}

.social-media-heading {
    margin-top: 40px;
    font-size: 20px;
    color: #e0caca;
}

.social-media-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-media-list li {
    margin-right: 20px;
}

.social-media-link {
    text-decoration: none;
    color: #116466;
    
    transition: color 0.3s ease;
}

.social-media-link:hover {
    color: #D9b08c;
}
.social-media-list li {
    margin-right: 30px; 
    margin-left: 30px;
}
.form-group label {
    color: #d1e8e2;
}

body{
    font-family: "Montserrat", sans-serif;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .contact-container {
        max-width: 400px;
    }
}

@media screen and (max-width: 480px) {
    .contact-container {
        padding: 10px;
    }
    .contact-heading {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .contact-intro {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .form-control {
        padding: 10px;
        font-size: 14px;
    }
    .submit-button {
        padding: 10px 20px;
        font-size: 14px;
    }
    .social-media-heading {
        font-size: 18px;
    }
    .social-media-link {
        font-size: 14px;
    }
}