/* General Styles */
body {
    background-color: #2c3531;
    font-family: "Montserrat", sans-serif;
}

.home-container {
    padding: 0 5%;
    max-width: 1200px;
    margin: 0 auto;
}

.headboi {
    display: flex;
    flex-direction: row;
}

.home-header {
    margin-bottom: 20px;
    text-align: left;
}

.home-intro {
    margin-bottom: 20px;
    text-align: left;
    font-size: 20px;
    color: #d1e8e2;
}

.home-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.home-image {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Make the image round */
    margin-bottom: 20px;
    float: left;
    margin-right: 20px;
}

.home-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #116466;
    color: #d1e8e2;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #d9b08c;
    color: #2c3531;
}

.home-header h1 {
    color: #d9b08c;
}

.home-header h2 {
    color: #ffcb9a;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .home-container {
        padding: 10px;
    }
    .home-header {
        font-size: 24px;
    }
    .home-intro {
        font-size: 16px;
    }
    .home-actions {
        margin-bottom: 10px;
    }
    .home-image {
        width: 150px;
        height: 150px;
    }
    .home-button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .home-container {
        padding: 5px;
    }
    .home-header {
        font-size: 20px;
    }
    .home-intro {
        font-size: 14px;
    }
    .home-actions {
        margin-bottom: 5px;
    }
    .home-image {
        width: 100px;
        height: 100px;
    }
    .home-button {
        padding: 6px 12px;
        font-size: 12px;
    }
}
