body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #116466;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    
  }

  logo {
    margin-right: auto;
}

.logo img {
    width: 40px;
    height: auto;
}
  
  .nav-link {
    text-decoration: none;
    color: #d1e8e2;
    padding: 10px;
    border-radius: 5px;
    background-color: #116466;
  }
  
  .nav-link:hover,
  .nav-link:active {
    background-color: #d9b08c;
    transition: background-color 0.3s ease
    
  }
  