body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
#nav {
  background-color: #116466;
  padding: 10px 0;
}

.container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container li {
  display: inline-block;
  margin-right: 20px;
}

.container li:last-child {
  margin-right: 0;
}

.container li a {
  text-decoration: none;
  color: #d1e8e2;
  font-size: 18px;
  padding: 10px 20px;
  transition: all 0.8s ease;
}

.container li a:hover {
  background-color: #ffcb9a;
  border-radius: 5px;
}
