body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #222;
    padding: 10px;
    display: flex;
    justify-content: space-around;
  }

  logo {
    margin-right: auto; /* Pushes the logo to the left */
}

.logo img {
    width: 40px; /* Adjust the size of the logo */
    height: auto;
}
  
  .nav-link {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    background-color: #333;
  }
  
  .nav-link:hover,
  .nav-link:active {
    background-color: blue;
  }
  