.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Decrease the minimum width */
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.project-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px; /* Decrease padding */
  margin-bottom: 20px;
}

.project-card h2 {
  color: #ffcb9a;
  font-size: 20px; /* Decrease font size */
  margin-bottom: 10px;
}

.project-card p {
  color: #d1e8e2;
  font-size: 16px; /* Decrease font size */
  margin-bottom: 10px; /* Adjust margin */
}

.project-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px; /* Adjust margin */
}

.project-card a {
  display: inline-block;
  padding: 8px 16px; /* Decrease padding */
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px; /* Decrease font size */
}

.project-card a:hover {
  background-color: #0056b3;
}

h1 {
  color: #d9b08c;
  text-align: center; /* Center the heading */
}
