.project-card {
    border-radius: 8px;
    overflow: hidden;
    width: 500px
}

.project-card h2 {
    color: #ffcb9a;
    font-size: 20px;
    text-align: left;
}

.project-card p {
    color: #d1e8e2;
    font-size: 16px;
    text-align: left;
}

.project-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-card a {
    display: block;
    padding: 10px 0;
    background-color: #116466;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 0 0 8px 8px;
    font-size: 14px;
}

.project-card a:hover {
    background-color: #d9b08c;
    transition: background-color 0.3s ease;
    color: #2c3531;
}

h1 {
    color: #d9b08c;
    text-align: center;
}

p {
    color: #d1e8e2;
    text-align: center;
}
