.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust min and max width as needed */
  gap: 20px;
  justify-content: center; /* Center align the grid */
  align-items: center; /* Center align items vertically */
  padding: 20px;
}

.project-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.project-card h2 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 10px;
}

.project-card p {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 15px;
}

.project-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.project-card a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.project-card a:hover {
  background-color: #0056b3;
}
