.Tooling {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-gap: 20px; /* Gap between items */
}

.tool {
    display: flex;
    align-items: center;
}

.tool svg {
    margin-right: 10px; /* Spacing between icon and text */
}