.Tooling {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 20px;
}

.tool {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #116466;
    transition: background-color 0.3s ease;
    color: #d1e8e2;
}

.tool:hover {
    background-color: #d9b08c;
}

.tool svg {
    margin-right: 10px;
    color: #007bff;
}
.tool img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
h2 {
    color: #d9b08c;
    text-align: center;
}
